/* General */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Microsoft Style */
 
.ms-welcome__header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.ms-welcome__header h1 {
  margin-top: 0;
}

.ms-welcome__header svg {    
  padding-top: 20px;
}

.ms-welcome__main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 10px 20px;
}
 
/* Buttons */

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  background-color: rgb(0, 120, 212);
  color: white; 
  
  width: 85%;
  line-height: 46px;
  
  text-align: center;
  vertical-align: middle;
  
  margin-top: 10px;
  margin-bottom: 5px;


  /* border: 1px solid black;
  background-color: white;
  color: black; */
  
  border-radius: 2px;

  cursor: pointer !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

#file_upload_icon {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 5px;
}


.inputfile + label:hover {
  cursor: pointer;
}

.inputfile:focus + label, .inputfile + label:hover {
  background-color: rgb(16, 110, 190);
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.action_button {
  height:34px;

  margin-top: 3px;
  margin-bottom: 3px;

  padding: 06px 12px;

  border: none;
  border-radius: 2px;

  color: white;
  background-color: rgb(0, 120, 212);

  vertical-align: middle;

  text-align: center;
  font-size: 110%;
  font-weight: 600;
}

.action_button:hover {
  cursor: pointer !important;
  background-color: rgb(16, 110, 190);
}

.action_button:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.action_hr {
  width: 33%;
    
  margin-left: 3px;

  border-top: 0.5px solid lightgray;
}

#main {
    display: none;
    width: 100%;
}

#main h4 {
    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 1.2em;
}

#search {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 10px;
    font-size: 1.1em;

    margin-bottom: 10px;
}

.row_group th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  
  text-align: center;
}

.row_group th span:first-child {
  font-weight: bold;
}

.row_group th span {
  display: block;
  font-weight: normal;
}

#analyses {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.analysis {
    width: 100%;
}

.collapsible  {
    width: 100%;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-top: -3px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    color: black;
    display: block;

    font-size: 1.1em;
}

.collapsible:hover {
    background-color: #e6e6e6;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding-left: 5pt;
    padding-right: 5pt;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    font-size: 1.1em;
}

.statistics_table {
    margin-bottom: 10px;
    border-collapse: collapse;

    border-top: 1px solid black;
    border-bottom: 2px solid black;

    width: 100%;

    table-layout: fixed;
}

.statistics_table tr {
    border-bottom: 1px solid lightgray;
}

.statistics_table th {
    padding: 5px 10px 5px 10px;
}

.statistics_table td {
    padding: 5px 10px 5px 10px;
}

.statistics_row_name th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.statistics_cell_name {
    font-weight: normal;
    text-align: right;

    border-left: 0;
    border-right: 1px solid lightgray;

    width: 50%;
}

.statistics_cell_value {
    font-weight: normal;
    text-align: left;

    border-right: 0;
    
    width: 50%;
}

.statistics_table caption {
    padding: 0 10px 5px 0px;
}

.statistics_table caption span {
    font-weight: bold;
}

.statistics_cell_p {
    white-space: nowrap;
}

.statistics_cell_CI {
    white-space: nowrap;
}

.insert_link {
    text-decoration: none;
    color: black;
}

.insert_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.insert_table_button {
    margin-top: -10px;
    margin-bottom: 12px;
}

/* Debugging */

#fail-msg {
  display: none;
}