

/* General */

html, body {
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;

  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, 
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 300;
  
  color: #333;
}

/* Header */

.app-header {
  padding: 1.25rem;
  
  text-align: center;

  background-color: #edebe9;
}

.app-header h1 {
  margin: 0;
  
  font-size: 24px;
  font-weight: bold;
}

/* App body */

#app-body {
  margin-left: 10px;
  margin-right: 10px;
}

/* Loading */

#loading-message {
  position: absolute;
  top: 50%;

  width: 95%;
}

#loading-message h2 {
  text-align: center;
  font-size: 20px;
}

/* Failed to load message */

#fail-message {
  display: none;

  text-align: center;
}

/* File input section */

#input-instructions {
  margin-top: 10px;
  margin-bottom: 10px;
}

#input-instructions a {
  color: rgb(0, 120, 212);
  text-decoration: none;
}

#input-instructions a:hover {
  text-decoration: underline;
}

#file-input {
  display: none;
}

#file-label {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 7px;

  min-width: 120px;
  line-height: 32px;

  color: white; 
  background-color: rgb(0, 120, 212);
  
  font-size: 14px;
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, 
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; 

  border-radius: 2px; 
}

#file-label:hover {
  background-color: rgb(16, 110, 190);
}

#file-upload-icon {
  width: 16px;
  height: 16px;

  margin-right: 5px;
  margin-bottom: -1px;
}

/* App main section */

#app-main {
  display: none;
  width: 100%;
}

#app-main h4 {
  margin-top: 8px;
  margin-bottom: -4px;

  font-size: 24px;
  font-weight: 200;
}

/* Search */

.search-container {
  display: flex;

  height: 32px;
  width: 100%;

  margin-bottom: 10px;
  
  border: 1px solid rgb(194, 194, 194);
  border-radius: 2px;
}

.search-container:focus-within {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid rgb(68, 119, 208);

  height: 34px;
}

.search-icon {
  flex: 0 0 24px;

  margin-left: 5px;
  margin-right: -5px;

  padding-top: 7px;
  padding-bottom: 7px;
}

.search-container:focus-within img {
  display: none;
}

.search-box {
  flex-grow: 1;

  -webkit-appearance: none;
  border: 0;
  outline: none;

  padding-left: 5px;

  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, 
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.search-box::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-box::placeholder {
  color: rgb(96, 94, 92);
}

.search-container:focus-within .search-box::placeholder {
  color: rgb(53, 52, 51);
}

/* Analyses */

#analyses-container {
  font-size: 13px;
  font-weight: 300;
}

.container {
  
}

.row {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid rgb(243, 242, 241);

  opacity: 0.5;
}

.active {
  opacity: 1;
}

.row:hover {
  background-color: rgb(243, 242, 241); 
}

.level1 {
  display: block;
  margin-bottom: 5px;
}

.level1 .row {
  min-height: 30px;
}

.level2 {
  display: none;
}

.level2 .row {
  padding-left: 30px;
}

.level2 .child {
  opacity: 1;
}

.level2 .parent {
  padding-left: 0;
}

.level3 .row {
  padding-left: 45px;
}

.level3 .parent {
  padding-left: 15px;
}

.level4 .row {
  padding-left: 60px;
}

.level4 .parent {
  padding-left: 30px;
}

.level5 .row {
  padding-left: 75px;
}

.level5 .parent {
  padding-left: 45px;
}

.level6 .row {
  padding-left: 90px;
}

.level6 .parent {
  padding-left: 60px;
}

.level7 .row {
  padding-left: 105px;
}

.level7 .parent {
  padding-left: 75px;
}


.parent {
  display: flex;
  align-items: center;
}

.parent-name {
  flex: 0 0 82px;

  font-weight: bold;
}

.parent-title {
  font-weight: bold; 
}

.identifier {
  background-color: rgb(237, 235, 233); 

  font-size: 13px;

  border-bottom: none;
}

.identifier-label {
  padding-top: 8px;
  padding-bottom: 9px;
}

.chevron {
  flex: 0 0 25px;
  margin-right: 5px;


  padding-top: 5px;
  padding-bottom: 3px;
}

.chevron:hover {
  background-color: rgb(230, 228, 226);
}

.chevron-down {
  display: none;
}

.chevron-right {
  display: block;
}

.active .chevron .chevron-down {
  display: block;
}

.active .chevron .chevron-right {
  display: none;
}

.child {
  display: flex;
  align-items: center;
}

.child-name {
  flex: 0 0 82px;
  
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.statistics-name {
  flex-grow: 1;

  font-weight: bold;
}

.child-value {
  flex-grow: 1;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

/* Insert button */

.insert-button {  
  display: none;

  height: 14px;
  width: 14px;

  margin-right: 10px;
  
  border-radius: 50%;
  
  text-align: center;
  line-height: 12px;
}

.row:hover .insert-button {
  display: block;

  background-color: white;
  color: white;
  border: 1px solid rgb(96, 94, 92);
}

.insert-button:hover {
  cursor: pointer !important;

  color: rgb(96, 94, 92) !important;
}

.insert-button:active {
  color: rgb(0, 120, 212) !important;
  background-color: rgb(0, 120, 212) !important;
  border-color: white !important;
}

/* Actions */

.action-button {
  display: block;

  margin-top: 5px;
  margin-bottom: 5px;

  height: 32px;

  border: none;
  border-radius: 2px;

  background-color: rgb(0, 120, 212);
}

.action-button span {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 4px;

  color: white;

  font-size: 14px;
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, 
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; 
}

.action-button:hover {
  background-color: rgb(16, 110, 190);
}

/* Debugging */

#fail-msg {
  display: none;
}